@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.sidebar-link{
    @apply font-semibold hover:bg-dark cursor-pointer py-3 px-3 rounded-md focus:bg-dark ;
}
.input-section{
 @apply border-2 border-primary focus:ring-1 focus:ring-primary focus:border-primary active:outline-none active:ring-1 active:ring-primary active:border-primary rounded-md ;
}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea{
    resize: none;
    min-height: 180px;
}

.text-teal{
  color: teal;
}
.text-blue{
  color: rgb(4, 13, 107);
}

/* Add these styles to your CSS or Tailwind CSS configuration */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  z-index: 1000;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}
