# Ignore node_modules directory
node_modules/

# Ignore client-side dependencies
client/node_modules/

# Ignore server-side dependencies
server/node_modules/
server/.env
server/license.txt
server/exports
server/.strapi
server/dist
server/build
server/.strapi-updater.json

# Ensure public directory is not ignored
!server/public/
!server/public/uploads/

# Ignore built frontend files
client/dist/

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
